.main{
    cursor: pointer;
    background-color: var(--prymary);
    padding: 18px 100px;
    font-size: 16px;
    font-family:"Montserrat_medium";
    border: 2px solid transparent;
    color:var(--white);
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.main:hover{
    border: 2px solid white;
}

.main:active{
    opacity: 0.5;
}