@import './components/header.css';
@import './fonts/fonts.css';
@import './components/alert.css';
@import './components/yamap.css';
@import './components/buttons.css';
@import './components/footer.css';
@import './components/input.css';
@import './components/checkbox.css';
@import './components/slider.css';
@import './components/modal.css';
body{
    margin: 0 auto;
    max-width: 1440px;
    background-color: var(--black);
    font-family: "coolvetregular";
    color: var(--white);
}
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x:  hidden;
    overflow-y:  auto;
}
html, body {
  height: 100%;
  overscroll-behavior-y: contain;
}

a{
    color: white;
    text-decoration: none;
}
nav{
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
        list-style: none;
}
:root{
    --prymary: #004643;
    --white: #FFFFFF;
    --black: #171717;
}

.blocklogo_number{
    align-items: center;
    display: flex;
    gap: 10vw;
}

.list_types li{
    display: flex;
    align-items: center;
    gap: 11px;
}
.list_types{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero_content{
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.669);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0vw 5vw;
    justify-content: center;
    width: 540px;
    height: 100%
}
.left_block{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero_container{
    width: 100%;
    height: 840px;
}
.hero_container{
    background-image: 
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/src/assests/img/hero_img/image1.png);
}
.about_us_block{
    width: 100%;
    height: 100%;

}
.about_content{
    padding: 5vw;
}
.about_content{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.text_blokc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40vw;
}

.about_content img{
    width: 40vw;
}

.about_contenttttt{
    padding: 1vw;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.about_contenttttt img{
    width: 40vw;
}
.backform{
    display: flex;
    justify-content: space-between;
    background-color: var(--prymary);
    width: 100%;
    height: 100%;
    padding: 5vw;
}
.backforawdwm{
    display: flex;
    justify-content: space-between;
    background-color: var(--prymary);
    width: 100%;
    height: 100%;
    padding: 2vw;
}
.titleblock{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.formquoce{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formseco{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block_containerdownload{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 40px;
    border: 2px solid #487A79;
}

.textblock_download{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media screen and (max-width: 834px){
    .backform{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--prymary);
        width: 100%;
        height: 100%;
        padding: 5vw;
    }
    .titleblock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 60px;
}
.about_contenttttt{
    padding: 1vw;
    display: flex;
    flex-direction: column !important;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.about_contenttttt img{
    width: 80vw !important;
}
.textquote img{
    display: none;
}
.upblockslider {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 5vw;
}
.quuuquq {
    display: flex;
    justify-content: flex-start;
}
.textqq h6 {
    text-align: left;
    width: 80vw;
}
.about_content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.about_content img{
    width: 100%;
    object-fit: cover;
    height: 50vw;
}
.text_blokc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.about_us_block {
    width: 100%;
    height: 100%;
    padding-bottom: 23vw;
}
.block_containerdownload{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 6vw;
    gap: 30px;
    border: 2px solid #487A79;
}
.left_block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 200px;
}
.main {
    cursor: pointer;
    background-color: var(--prymary);
    padding: 5vw 10vw;
    font-size: 16px;
    font-family: "Montserrat_medium";
    border: 2px solid transparent;
    color: var(--white);
    text-transform: uppercase;
    transition: all 0.3s 
    
ease;
        width: 100%;

}

}